<!DOCTYPE html>
<html>
<head>
	<title>An Example of Dataflo.ws App | Results</title>

	<link rel="stylesheet" type="text/css"
	href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
</head>
<body>

<div class="container">
	<div class="page-header">
		<h1>Query Results <small>via Yahoo! Content Analysis</small></h1>
	</div>

	<h2>Text</h2>
	<div class="hero-unit"><p><%=text%></p></div>

<% if (items) { %>
	<h2>Tagging</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Tagline</th>
				<th>Score</th>
			</tr>
		</thead>

		<tbody>
		<% items.forEach(function (item) { %>
			<tr>
				<td><%=item.text.content%></td>
				<td><%=item.score%></td>
			</tr>
		<% }); %>
		</tbody>
	</table>

	<% if (wiki_url) { %>
		<h2>Wikipedia</h2>
		<a href="<%=wiki_url%>"><%=wiki_url%></a>
	<% } %>

	<% if (related_entities) { %>
		<h2>Related links</h3>

		<ul>
		<% Object.keys(related_entities).forEach(function (key) { %>
			<% related_entities[key].forEach(function (entity) { %>
				<li><a href="<%=entity%>"><%=entity%></a></li>
			<% }); %>
		<% }); %>
		</ul>
	<% } %>
<% } else { %>
    <div class="page-header">
		<h1>No results</h1>
	</div>

	<div class="alert"><h4>Alas...</h4> Try a longer text.</div>
<% } %>

	<a class="btn btn-large" href="/">&larr; Back to the form</a>
</div>

</body>
</html>
