<!DOCTYPE html>
<html>
<head>
	<title>An Example of Dataflo.ws App | Results</title>

	<link rel="stylesheet" type="text/css"
	href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
</head>
<body>

<div class="container">
	<div class="page-header">
		<h1>Query Results <small>via Yahoo! Content Analysis</small></h1>
	</div>

	<h2>Text</h2>
	<div class="hero-unit"><p><%=text%></p></div>

<% if (-1 == items) { %>
    <div class="page-header">
		<h1>No results</h1>
	</div>

	<div class="alert"><h4>Alas...</h4> Try a longer text.</div>
<% } else { %>
	<h2>Tagging</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Tagline</th>
				<th>Score</th>
			</tr>
		</thead>

		<tbody>
		<% items.forEach(function (item) { %>
			<tr>
				<td>
					<% if (item.wiki_url) { %>
					<a href="<%=item.wiki_url%>"><%=item.text.content%></a>
					<% } else { %>
					<%=item.text.content%>
					<% } %>
				</td>
				<td><%=item.score%></td>
			</tr>
		<% }); %>
		</tbody>
	</table>
<% } %>

	<a class="btn btn-large" href="/">&larr; Back to the form</a>
</div>

</body>
</html>
